{% extends "layout.html" %}
{% block title %} - Export {% endblock %}
{% block head %}
	<script>
		$(document).ready(function () {
			{% if isSaved %}
				$('#alertSuccess').show();
			{% else %}
				$('#alertError').show();
			{% endif %}
		});
	</script>
	
{% endblock %}
{% block alertSuccessContent %}
	<div id="exportSuccessAlert" class="content">
		<b>Great!</b> You successfully exported your expenses to {{handle}} as <b>{{fileName}}</b>.
		<br clear="all" />
		You can view your document&nbsp;<a href="{{linkToFile}}" target="_blank">here</a>.
	</div>
{% endblock %}
{% block alertErrorContent %}
	<div id="exportErrorAlert" class="content">
		<b>Oops!</b>
		{% if not invalidHandle %}
			 You have no expenses to export to {{handle}}.
		{% else %}
			Sorry, currently we do not support exporting to {{handle}} formats.
		{% endif %}
	</div>
{% endblock %}