<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>ItsMyTuition{% block title %} {% endblock %}</title>
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/tuitionMain.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	{% block head %} {% endblock %}
</head>
<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=135103059987379";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>
	<div class="mainHeader">
		<div class="logoContainer">
			<img class="logo" src="/images/logo.png" alt="Logo" />
		</div>
		<div class="subHeader borderRadius15">
			<div class="searchMain">
				<input type="search" placeholder="Search Students" />
				<button>
					<img src="/images/search.gif" class="search" />
				</button>
			</div>
			<div class="logout">
				<div class="floatLeft">Welcome,</div>
				<div class="floatLeft">
					<ul id="userName">
						<li>{{loggedInEmployee.email}}
							<div class="menu-container-1">
								<ul id="userNameMenu">
									<li><a href="/">Profile</a></li>
									<li><a href="{{url}}">Logout</a></li>							
								</ul>
							</div>
						</li>
					</ul>			
				</div> 
			</div>
			<!-- <div class="quickLinks">
				In future we may need to implement quick links here.
			</div> -->
		</div>
	</div>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/">Students</a>
				<ul>
					<li><a href="/">Profile</a></li>
					<li><a href="/">Enroll a Student</a></li>
					<li><a href="/">View Students</a></li>
					<li><a href="/">View Classes</a></li>
				</ul>
			</li>
			<li><a href="/">Teachers</a>
				<ul>
					<li><a href="/">Enroll a Teacher</a></li>
					<li><a href="/">View Teachers</a></li>
				</ul>
			</li>
			<li><a href="/">Exams</a>
				<ul>
					<li><a href="/">Schedule an Exam</a></li>
					<li><a href="/">View Exams</a></li>
				</ul>		
			</li>
			<li><a href="/">Tools</a>
				<ul>
					<li><a href="/viewRoles">Roles</a></li>
					<li><a href="/addAnExpense">New Expense</a></li>
					<li><a href="/viewExpenses">View Expenses</a></li>
				</ul>	
			</li>
		</ul>
	</nav>
	<div class="mainContent">
		{% block content %} {% endblock %}
	</div>
	<div class="footer">
		<div class="footerSub">
			<div class="footerContent">
				<a href="/">
					Home
				</a>
			</div>
			<div class="footerContent">
				<a href="/aboutUs">
					About Us
				</a>
			</div>
			<div class="footerContent">
				<a href="mailto:{{supportEmail}}?subject=[Support]">
					Support
				</a>
			</div>
			<div class="footerContent">
				<a href="/contactUs">
					Contact Us
				</a>
			</div>	
		</div>
		<div class="footerSub">
			<div class="footerContent">
				<!-- FB like button goes here. -->
				<div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-font="verdana"></div>
			</div>
		</div>
	</div>
</body>
</html>