{% extends "layout.html" %}
{% block title %} - Add an Expense {% endblock %}
{% block head %}
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
	<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
{% endblock %}
{% block content %}
	<h2>Mark Your Expenses</h2>
	<div class="formContainer">
		<form action="" method="post" class="addAnExpense" name="addAnExpense" id="addAnExpense">
			<div class="formLabel">
				Name
			</div>
			<div class="formField">
				{{ form.user }}
			</div>
			<div class="formLabel">
				Type of Expense
			</div>
			<div class="formField">
				{{ form.type }}
			</div>
			<div class="formLabel">
				Amount
			</div>
			<div class="formField">
				{{ form.amount }}
			</div>
			<div class="formLabel">
				Date of Expense
			</div>
			<div class="formField">
				{{ form.dateOfExpense }}
			</div>
			<div class="formLabel">
				Comments
			</div>
			<div class="formField">
				{{ form.comments }}
			</div>
			<div class="saveButtonContainer">
				<input type="button" value="Save">
				<input type="button" value="Do it Later" class="cancelSave">
			</div>
		</form>
	</div>
	<script>
		$("#id_dateOfExpense" ).datepicker({'dateFormat' : 'dd/mm/yy'});
	</script>
{% endblock %}